.rodape{
    background-image: url('../../../public/imagens/fundo.png');
    background-color: #6278F7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7.5rem;
}

.rodape .redesSociais{
    display: flex;
    gap: 3.4rem;
}

.rodape .autor{
    color: #FFF;
    font-size: 1.6rem;
}